body {
    background-color:#F0F2F0;
    border: solid black;
}
h1 { 
    text-align: center;
    text-size-adjust: 150px;
}
header ul li a {
    background-color: black;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 50px;
    margin-top: 20px;
    
}
main ul li img {
    width: 300px;
    height: 350px;
}
footer {
    
    color: white;
    background-color: black;
}