body {
    background-color:#F0F2F0;
    border: solid black;
}
h1 { 
    text-align: center;
    font-size: 150px;
}
header ul li{
    display: inline;
    
    padding:25%;
    
    font-size: 35px;
}

    

header ul {
    background-color: black;
    

}
a {
    text-decoration: none;
    color: white;
}
main ul li img {
    width: 150px;
    height: 200px;

    
}
footer  {
    
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 25px;
    
}
p {
    font-size: 20px;

    
}
